[Unit]
Description=abrasive daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=abrasive
WorkingDirectory=/opt/abrasive
ExecStart=/opt/abrasive/bin/abrasive-daemon
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
