[Unit]
Description=abrasive daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/abrasive/daemon
ExecStart=/root/abrasive/daemon/target/release/abrasive-daemon
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
